header{
	background color: white;
	height: 70px;
	width: 100%;
	border bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}
header.Airbnb_logo{
	align: left;
	padding-left: 20px;
	width: 140px;
	height: 60px;
	background: url("/images/Airbnb_logo.png") no-repeat center;
}
